.details {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem 1rem;
  max-width: 1100px;
  margin: 0 auto;
  animation: fadeIn 0.4s ease;
}

.details-poster img {
  /* width: 280px; */
  /* max-width: 100%; */
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.details-info {
  flex: 1;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}

p {
  color: white;
}

.details-meta {
  opacity: 0.7;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.details-tagline {
  font-style: italic;
  opacity: 0.8;
}

.details-genres {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.genre {
  background: white;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 2rem;
  border: 1px solid #ffffff25;
}

.details-overview {
  line-height: 1.6;
  font-size: 30px;
  margin-bottom: 95px;
}

.details-extra p {
  margin: 4px 0;
  opacity: 0.9;
  font-size: 18px;
}

.details-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 14px;
  background: #ff6b00;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.details-btn:hover {
  background: #ff7e22;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
